/** @format */

.ticket {
	
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 0.5em;
  margin-bottom: 2em;
  box-shadow: 0.5em 0.5em 1em rgb(131, 174, 189);
}
.ticket__img {
  border-right: 1px solid rgb(169, 230, 247);
  padding: 1em;
}

.ticket__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 93, 24);
  border-radius: 0.2em;
  padding: 0.3em 1.2em;
  color: #fff;
}
.ticket__price:hover {
  background-color: rgb(255, 109, 30);
  cursor: pointer;
}

.ticket__flight-info {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  min-width: 250px;
}

.ticket__time {
  display: flex;
  gap: 1em;
}
.ticket__stops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:  rgb(154, 154, 154);
  font-size: .5em;
  font-weight: 800;

}

.ticket__departure_time {
  font-size: 2.5em;
}
.ticket__stops-count {
  text-transform: uppercase;
  text-align: center;
  min-width: 70px;
  padding: 0 1.5em;
  
}
.ticket__stops-img {
  position: relative;
  align-self: end;
}
.ticket__stops-img::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 13px;
  height: 1px;
  width: 80px;
  background-color: rgb(154, 154, 154);
}

.material-icons {
  color:  rgb(154, 154, 154);
  font-size: 1.5em;
  transform: rotate(90deg);
}
.ticket__direction {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ticket__departure {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.ticket__departure-date {
	color: rgb(154, 154, 154);
	padding-top: .3em;
}